$red: #e06c75;
$yellow: #e5c07b;
$green: #98c379;
$blue: #528bff;
$cyan: #56b6c2;
$pink: #c678dd;
$purple: #7e0097;
$white: #d7dae0;
$gray: #7f848e;

$text: #abb2bf;
$text-sidebar: #495162;
$background: #282c34;
$background-blue: #050583;
$background-blue-dark: #0a0a14;
$header: #21252b;
$header-highlight: #383e4a;
$footer: #21252b;
$footer-highlight: #383e4a;
$border: #21252b;
$comment: #676f7d;