@import "_Colors.scss";

/* Contém scss aplicável a todo o documento */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $background-blue-dark;

    font-family: "Fira Code", monospace;
    color: $text;
}

a {
    text-decoration: none;
    color: $text;

    &:visited {
        color: $pink;
    }
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    #content {
        flex: 1;
        overflow: auto;
    }
}

#cat404 {
    width: 100vw;
    height: 100vh;
    object-fit: scale-down;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}