@import "_Colors.scss";
@import "_Medias.scss";

#header {
    background-color: $header;
    color: $text;
    box-shadow: 0 0 0.75em $background-blue;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;

    >.header-link,
    >.header-hamburger {
        display: flex;
        align-items: center;
        font-weight: bold;

        height: 100%;
        padding: 0.5em 0.5em;

        background-color: $header;

        &:hover {
            background-color: $header-highlight;
        }

        >.header-text {
            padding-left: 0.5em;
        }
    }

    @include desktop {
        >.header-hamburger {
            display: none;
        }

        >.header-link,
        >.header-hamburger {
            font-size: min(2.5vw, 2em);
        }
    }

    @include mobile {
        >.header-hamburger {
            display: block;
        }
        
        >.header-link,
        >.header-hamburger {
            font-size: 1.5em;
            width: 100%;
        }

        >.header-mobile-hidden {
            height: 0;
            opacity: 0;
            padding: 0;

            * {
                display: none;
            }
        }
    }
}